---
// About section component
---

<section id="o-mnie" class="section about">
  <div class="container">
    <div class="about-content">
      <div class="about-image animate-on-scroll animate-left">
        <img
          src="/hero1.jpg"
          alt="Diana Magdalena Kalinowska - Radca Prawny"
        />
      </div>
      <div class="about-text animate-on-scroll animate-right">
        <h3>O Mnie</h3>
        <p>
          Jestem doświadczonym prawnikiem z ponad [X] letnim stażem w
          zawodzie. Ukończyłem studia prawnicze na [Nazwa Uczelni] i od
          [rok] prowadzę własną kancelarię prawną.
        </p>
        <p>
          Specjalizuję się w prawie cywilnym, karnym i gospodarczym. Moje
          podejście charakteryzuje się indywidualnym traktowaniem każdego
          klienta oraz dążeniem do osiągnięcia najlepszych rezultatów.
        </p>
        <p>
          Jestem członkiem [Nazwa Izby Adwokackiej] oraz aktywnie
          uczestniczę w szkoleniach podnoszących kwalifikacje zawodowe.
        </p>
        <div class="stats">
          <div class="stat">
            <span class="stat-number">[X]+</span>
            <span class="stat-label">Lat doświadczenia</span>
          </div>
          <div class="stat">
            <span class="stat-number">[Y]+</span>
            <span class="stat-label">Wygranych spraw</span>
          </div>
          <div class="stat">
            <span class="stat-number">[Z]+</span>
            <span class="stat-label">Zadowolonych klientów</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
