---
// About section component
---

<section id="o-mnie" class="section about">
  <div class="container">
    <div class="about-content">
      <div class="about-image animate-on-scroll animate-left">
        <img
          src="/hero1.webp"
          alt="Diana Magdalena Kalinowska - Radca Prawny"
        />
      </div>
      <div class="about-text animate-on-scroll animate-right">
        <h3>O Nas</h3>
        <p>
          W Twojej sprawie liczy się każdy szczegół. Nasza kancelaria to więcej niż radcy prawni – jesteśmy Twoim partnerem w rozwiązywaniu problemów. Obsługujemy klientów indywidualnych, przedsiębiorców oraz organizacje pozarządowe, oferując wsparcie od jednorazowej porady po stałą, kompleksową współpracę.
        </p>
        <p>
          Nie stosujemy gotowych szablonów. Rozumiemy, że każda sytuacja jest inna, dlatego naszym celem jest stworzenie strategii prawnej idealnie dopasowanej do Twoich potrzeb i celów. Otwarcie rozmawiamy o wszystkich możliwościach i potencjalnym ryzyku, a plan działania ustalamy zawsze wspólnie z Klientem.
        </p>
        <p>
          W naszej pracy stawiamy na otwartą komunikację, zaufanie i uczciwość. Chcemy, abyś czuł się w pełni komfortowo, mając pewność, że Twoja sprawa jest w najlepszych rękach.
        </p>
      </div>
    </div>
  </div>
</section>
